.favorites__dark,
.favorites__light {
    cursor: pointer;
    width: 22px;
    height: 22px;
}
.favorites__dark {
    color: whitesmoke;
}
.favorites__light {
    color: #e91e63;
}

@media (max-width: 567px) {
    .favorites__dark,
    .favorites__light {
        width: 32px;
        height: 32px;
    }
}
