@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.productTile {
    /* animation: fadeIn 1.5s ease-in-out; */
    height: 450px;
    border: 1px solid transparent;
    background-color: #22313f;
    border-radius: 12px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: ease-in-out 0.5s;
}
.productTileDark:hover,
.productTile:hover {
    transform: scale(1.01);
}
.productTileDark {
    /* animation: fadeIn 1.5s ease-in-out; */
    height: 450px;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 12px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: ease-in-out 0.5s;
}
.productName,
.productNameDark {
    height: 40px;
    max-width: 80%;
    line-height: 20px;
}
.productTileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 320px;
    margin: 0 auto;
}
.productTilePictureWrapper {
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 8px;
    background-color: white;
    max-width: 260px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mainPicture {
    margin: 0 auto;
    max-width: 180px;
    max-height: 160px;
    border-radius: 4px;
}
.productNameDark > a,
.productName > a {
    max-width: 90%;
    text-align: center;
}
.productPriceDark > span,
.productNameDark > a {
    color: #e91e63;
}
.productPrice > span,
.productName > a {
    color: #e7eaf6;
}
.productPriceDark > span,
.productPrice > span {
    font-size: 24px;
}
.productActionLine {
    margin: 0 auto;
    height: 2px;
    border-radius: 4px;
    width: 100%;
    max-width: 280px;
    background-color: #e7eaf6;
}
.actionsWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyButtonLight,
.buyButtonDark {
    width: 75%;
    height: 40px;
}
.buyButtonLight > button,
.buyButtonDark > button {
    cursor: pointer;
    max-width: 220px;
    width: 100%;
    font-size: 18px;
}
.buyButtonLight > button {
    background-color: white;
    border: 1px solid #e91e63;
}
.buyButtonDark > button {
    background-color: #e7eaf6;
    border: 1px solid transparent;
}
.buyButtonLight > button:hover {
    background-color: #e91e63;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.buyButtonDark > button:hover {
    background-color: #385170;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.buyButtonLight > .outOfStock:hover,
.buyButtonDark > .outOfStock:hover {
    cursor: default !important;
    color: gray !important;
    box-shadow: none !important;
}
.buyButtonDark > .outOfStock:hover {
    background-color: #e7eaf6 !important;
}
.buyButtonLight > .outOfStock:hover {
    background-color: transparent !important;
}
.buyLight {
    color: #e91e63;
}
.buyDark {
    color: #22313f;
}
.buyDark:hover {
    background-color: #e7eaf6;
}
.outOfStock {
    color: gray;
}

@media (max-width: 768px) {
    .productTilePictureWrapper {
        width: 90%;
    }
}
@media (max-width: 567px) {
    .productTile,
    .productTileDark {
        height: 480px;
    }
    .favoriteLight > svg,
    .favoriteDark > svg {
        margin-top: 20px;
    }
}
