.categoryPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1180px;
}

.categoryTitle {
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 30px;
}
.categoryWrapperContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter {
    width: 22%;
    background-color: #22313f;
    border-radius: 12px;
    margin: 10px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    min-height: 60px;
    height: fit-content;
}
.filter > h3 {
    margin: 20px 0 20px 0;
    color: aliceblue;
}
.categoryPageBottom {
    width: 78%;
}
@media (max-width: 992px) {
    .categoryWrapperContent {
        flex-direction: column;
        justify-content: space-between;
    }
    .filter {
        width: auto;
    }
    .categoryPageBottom {
        width: auto;
    }
}
