.categoryPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1180px;
}

.categoryTitle {
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 30px;
}
.categoryWrapperContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter,
.filterLight {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 22%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px;
    border-radius: 12px;
    min-height: 60px;
}

.filter {
    background-color: #22313f;
    border: 1px solid #22313f;
}

.filterLight {
    background-color: white;
    border: 1px solid transparent;
}
.filter > h3,
.filterLight > h3 {
    margin: 20px 0 20px 0;
    color: aliceblue;
}
.categoryPageBottom {
    width: 78%;
}
.removeFiltersBtnDark,
.removeFiltersBtnLight {
    margin: 20px auto 10px;
    font-size: 20px;
    width: 92%;
}

.removeFiltersBtnDark {
    color: white;
    border: 1px solid white;
}
.removeFiltersBtnDark:hover {
    color: #22313f;
    background-color: white;
    border: 1px solid #22313f;
}
.removeFiltersBtnLight {
    color: #e91e63;
    border: 1px solid #e91e63;
}
.removeFiltersBtnLight:hover {
    color: white;
    background-color: #e91e63;
    border: 1px solid white;
}
@media (max-width: 992px) {
    .categoryWrapperContent {
        flex-direction: column;
        justify-content: space-between;
    }
    .filter {
        width: auto;
    }
    .categoryPageBottom {
        width: auto;
    }
}
