.categoryPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1180px;
}
.categoryTitle {
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 30px;
}
