.title {
    margin-bottom: 30px;
    font-size: 28px;
    color: aliceblue;
}
.categoriesContainer {
    padding: 0 15px;
}
.productName,
.productNameDark {
    font-size: 24px;
    border-radius: 12px;
}
.productName > a,
.productNameDark > a {
    padding: 12px;
    display: block;
    width: 100%;
    border-radius: 12px;
    transition: ease-in-out 0.5s;
}
.productNameDark {
    color: #5dacbd;
    border: 1px solid #5dacbd;
    max-width: 400px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
.productNameDark > a:hover {
    background-color: aliceblue;
    color: black;
}
.productName {
    color: black;
    border: 1px solid black;
}
.listCategory {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 992px) {
    .listCategory {
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px) {
    .listCategory {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 567px) {
    .listCategory {
        grid-template-columns: repeat(1, 1fr);
    }
}
