.lastViewedDark,
.lastViewedLight {
    margin: 10px;
}
.lastViewedDark > h3,
.lastViewedLight > h3 {
    font-size: 32px;
    margin: 10px 10px 20px 10px;
    text-align: start;
}
.lastViewedDark > h3 {
    color: white;
}
.lastViewedLight > h3 {
    color: #e91e63;
}
.lastViewedContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
}

@media (max-width: 1400px) {
    .lastViewedContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
}
@media (max-width: 992px) {
    .lastViewedContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }
}
@media (max-width: 768px) {
    .lastViewedContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
}
@media (max-width: 567px) {
    .lastViewedContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
}
