.productPageWrapperDark,
.productPageWrapperLight {
    margin: 10px 10px 30px 10px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productPageWrapperDark {
    background-color: #22313f;
}
.productPageWrapperLight {
    background-color: white;
}
.productPageContainer {
    padding: 0 18px;
}
.productPageMainDark {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.accentLineLight,
.accentLineDark {
    border-radius: 20px;
    margin: 0 auto 20px;
    height: 2px;
    max-width: 200px;
    width: 100;
}
.priceInfoLight,
.priceInfoDark {
    font-size: 28px;
}
.priceInfoDark {
    color: aliceblue;
}
.priceInfoLight {
    color: black;
}
.accentLineDark {
    background-color: aliceblue;
}
.accentLineLight {
    background-color: #233142;
}
.productPageImages,
.productPageImagesLight {
    width: 40%;
    background-color: white;
    border-radius: 12px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.productPageInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productPageTitleDark,
.productPageTitleLight {
    padding-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
}

.productPageTitleDark {
    color: aliceblue;
}
.productPageTitleLight {
    color: #233142;
}
.idInfoLight,
.idInfoDark {
    display: block;
    width: 100%;
    font-size: 10px;
    color: #d9dad7;
    text-align: end;
}
.idInfoLight {
    color: #233142;
}
.idInfoDark {
    color: aliceblue;
}
.productMidInfo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
}
.productBtnFavorite > span > div {
    margin: 0 auto;
}
.productMidInfo > div {
    max-width: 200px;
    width: 100%;
}
/* --- */
.bottomInfo {
    margin-left: 18px;
}

/* .specs {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 720px;
    margin: 0 auto 40px;

    border-radius: 8px;
    padding: 12px;
} */
.specsDark {
    border: 1px solid white;
}
.specsLight {
    border: 1px solid black;
}
.specsDark,
.specsLight {
    max-width: 60%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 8px;
}
.characteristicLight,
.characteristicDark {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.specLight,
.valueLight,
.specDark,
.valueDark {
    width: 100%;
    max-width: 240px;
}
.specDark > span,
.valueDark > span {
    font-size: 18px;
    /* color: #d9dad7; */
    color: aliceblue;
}
.specLight > span,
.valueLight > span {
    font-size: 18px;
    /* color: #d9dad7; */
    color: black;
}
.specDark > span,
.specLight > span {
    text-transform: capitalize;
}
.specLight,
.valueLight,
.valueDark,
.specDark {
    display: flex;
    justify-content: flex-start;
}
/* = = = = = = = */
.descriptionLight,
.descriptionDark {
    max-width: 68%;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 60px;
}
.descriptionDark {
    color: white;
}
.descriptionLight {
    color: black;
}
.descriptionLight > h3,
.descriptionDark > h3 {
    font-size: 28px;
    margin-bottom: 20px;
    /* color: black; */
}

@media (max-width: 992px) {
    .productPageMainDark {
        flex-direction: column;
    }
    .productPageImagesLight,
    .productPageImages,
    .productPageInfo {
        width: 100%;
    }
    .upperInfo {
        margin-bottom: 30px;
    }
    .bottomInfo {
        margin-left: 0;
    }
    .specs {
        padding: 8px;
        margin-bottom: 10px;
    }
    .spec,
    .value {
        width: auto;
        max-width: auto;
    }
    .descriptionLight,
    .descriptionDark {
        max-width: 96%;
        font-size: 20px;
    }
    .descriptionDark > h3 {
        font-size: 32px;
    }
    .priceInfoDark {
        font-size: 36px;
    }
    .productMidInfo {
        margin-bottom: 60px;
    }
    .productMidInfo > div > button {
        width: 100%;
        max-width: 360px;
        font-size: 28px;
        height: 52px;
    }
}
@media (max-width: 767px) {
    .productMidInfo {
        flex-direction: column;
        gap: 40px;
        margin-bottom: 20px;
    }
    .productMidInfo > div {
        width: 100%;
    }
    .specsDark,
    .specsLight {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .specDark > span,
    .valueDark > span {
        font-size: 16px;
        /* color: #d9dad7; */
        color: aliceblue;
    }
    .specLight > span,
    .valueLight > span {
        font-size: 16px;
        /* color: #d9dad7; */
        color: black;
    }
    .productBtnFavorite > span > div {
        margin: 0 auto;
        width: 100%;
    }
    .productBtnFavorite > span > div > svg {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
}
