.imgMagnifierContainer {
    position: relative;
    width: 100%;
    /* max-width: 440px; */
}

.magnifierImg {
    padding: 20px;

    margin: 0 auto;
    width: auto;
    height: auto;
}

.magnifierImage {
    /* padding: 20px; */
    border-radius: 8px;
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
}
