.productPageWrapperDark {
    background-color: #22313f;
    margin: 10px 10px 30px 10px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.productPageWrapperLight {
    background-color: white;
    margin: 10px 10px 30px 10px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.productPageContainer {
    padding: 0 18px;
}
.productPageMainDark {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.accentLineLight,
.accentLineDark {
    border-radius: 20px;
    margin: 0 auto 20px;
    height: 2px;
    max-width: 200px;
    width: 100;
}
.priceInfoLight,
.priceInfoDark {
    font-size: 26px;
}
.priceInfoDark {
    color: aliceblue;
}
.priceInfoLight {
    color: #233142;
}
.accentLineDark {
    background-color: aliceblue;
}
.accentLineLight {
    background-color: #233142;
}
.productPageImages {
    width: 40%;
    background-color: white;
    border-radius: 12px;
}
.productPageImagesLight {
    width: 40%;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.productPageInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productPageTitleDark,
.productPageTitleLight {
    padding-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
}

.productPageTitleDark {
    color: aliceblue;
}
.productPageTitleLight {
    color: #233142;
}
.idInfoLight,
.idInfoDark {
    display: block;
    width: 100%;
    font-size: 10px;
    color: #d9dad7;
    text-align: end;
}
.idInfoLight {
    color: #233142;
}
.idInfoDark {
    color: aliceblue;
}
