.favoriteTitleLight {
    color: #e91e63;
}
.favoriteTitleDark {
    color: whitesmoke;
}
.favoriteTitleLight,
.favoriteTitleDark {
    margin: 30px 0 30px 0;
    font-size: 30px;
    font-weight: 600;
}
.titleEmptyListDark,
.titleEmptyListLight {
    font-size: 28px;
    text-align: center;
}
.titleEmptyListDark {
    color: white;
}
.titleEmptyListLight {
    color: #e91e63;
}
.favoriteList {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 1120px) {
    .favoriteList {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 992px) {
    .favoriteList {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 567px) {
    .favoriteList {
        grid-template-columns: repeat(2, 1fr);
    }
}
