@keyframes fadeIn {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}
.menu {
    margin: 10px 10px 10px 10px;
    background-color: #22313f;
    border-radius: 14px;
    transform: translateY(-100px);
    animation: fadeIn 1.1s ease-out forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menuLight {
    margin: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 14px;
    transform: translateY(-100px);
    animation: fadeIn 1.1s ease-out forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 20px 0 20px 0;
}
.navigation__left {
    margin-left: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.link__dark,
.link__light {
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 3px;
}
.link__dark {
    color: aliceblue;
}
.link__light {
    color: #e91e63;
}
.link:hover {
    color: #5dacbd;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo__dark {
    margin-bottom: 5px;
    width: 34px;
    height: 34px;
    fill: #5dacbd;
    animation: rotate 20s linear infinite;
}
.logo__light {
    margin-bottom: 5px;
    width: 34px;
    height: 34px;
    fill: #e91e63;
    animation: rotate 20s linear infinite;
}
.navigation__right {
    margin-right: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
}
@media (max-width: 768px) {
    .navigation__left,
    .navigation__right {
        gap: 14px;
    }
    .link {
        font-size: 15px;
    }
}
@media (max-width: 567px) {
    .menuLight,
    .menu {
        display: none;
    }
    .navigation {
        flex-direction: column;
    }
    .navigation__left > a {
        font-size: 32px;
    }
    .navigation__left,
    .navigation__right {
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }
    .link {
        font-size: 24px;
    }
    button {
        margin: 10px 0 10px 0;
    }
}
