.subscribeDiscounts,
.subscribeDiscountsLight {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 4px 8px;
    justify-content: center;
}

.subscribeDiscounts {
    border: 1px solid #5dacbd;
}
.subscribeDiscountsLight {
    border: 1px solid #e91e63;
}
.wrapperSubs,
.wrapperSubsLight {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 12px;
}

.wrapperSubs > span,
.wrapperSubsLight > span {
    font-size: 20px;
}
.wrapperSubs > span {
    color: #5dacbd;
}
.wrapperSubsLight > span {
    color: #e91e63;
}
.subscribeDiscounts > input,
.subscribeDiscountsLight > input {
    border-radius: 8px;
    padding: 4px 0 4px 8px;
    outline: none;
    margin-bottom: 12px;
}
.subscribeDiscounts > input {
    border: 1px solid transparent;
}
.subscribeDiscountsLight > input {
    border: 1px solid #f48db4;
    color: #e91e63;
}
.subscribeDiscounts > button,
.subscribeDiscountsLight > button {
    color: white;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.subscribeDiscounts > button {
    background-color: #5dacbd;
}
.subscribeDiscountsLight > button {
    background-color: #e91e63;
}
.subscribeDiscounts > button:hover,
.subscribeDiscountsLight > button:hover {
    color: white;
}

.subscribeDiscounts > button:hover {
    background-color: #79c2d0;
}
.subscribeDiscountsLight > button:hover {
    background-color: #c3195d;
}
@media (max-width: 992px) {
    .subscribeDiscounts {
        width: 100%;
        padding: 16px;
    }
}
