.imageCase {
    width: auto;
    /* height: auto; */

    /* max-width: 1200px;
    max-height: 1000px; */
}
.modalWrapper {
    display: flex;
    justify-content: center;
}
.modalWrapper > img {
    transform: scale(0.6);
}
@media (max-width: 568px) {
    .imageCase {
        transform: scale(1);
    }
    /* .modalWrapper {
        display: none;
        justify-content: center;
    } */
}
