.title-catalog-page-light {
    margin-bottom: 30px;
    color: #e91e63;
}
.title-catalog-page-dark {
    margin-bottom: 30px;
    color: whitesmoke;
}
.catalog-list {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns with equal width */
    gap: 20px;
}

@media (max-width: 1120px) {
    .catalog-list {
        grid-template-columns: repeat(3, 1fr); /* Creates 4 columns with equal width */
    }
}
@media (max-width: 992px) {
    .catalog-list {
        grid-template-columns: repeat(2, 1fr); /* Creates 4 columns with equal width */
    }
}
@media (max-width: 567px) {
    .catalog-list {
        grid-template-columns: repeat(1, 1fr); /* Creates 4 columns with equal width */
    }
}
