@keyframes modeFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
button {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

button > svg {
    opacity: 0;
    animation: modeFade 1s ease-out forwards;
}
.sunny {
    color: whitesmoke;
    height: 26px;
    width: 26px;
}

.moon {
    color: #e91e63;
    height: 20px;
    width: 20px;
}
@media (max-width: 567px) {
    .sunny {
        color: whitesmoke;
        height: 36px;
        width: 36px;
    }

    .moon {
        color: #e91e63;
        height: 28px;
        width: 28px;
    }
}
