@keyframes modeFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
button {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transition: ease-in-out 0.5s;
}
/* button:hover {
    background-color: #5dacbd;
} */
button > svg {
    opacity: 0;
    animation: modeFade 1s ease-out forwards;
}
.sunny {
    color: whitesmoke;
    height: 24px;
    width: 24px;
}

.moon {
    color: #e91e63;
    height: 20px;
    width: 20px;
}
