.categoryPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1180px;
}
.categoryTitleLight,
.categoryTitleDark {
    font-size: 24px;
    margin-bottom: 10px;
}
.categoryTitleDark {
    color: aliceblue;
}
.categoryTitleLight {
    color: #e91e63;
}
.categoryWrapperContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filter,
.filterLight {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 22%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px;
    border-radius: 12px;
    min-height: 60px;
}
.filter {
    background-color: #22313f;
    border: 1px solid #22313f;
}
.filterLight {
    background-color: white;
    border: 1px solid transparent;
}
.filter > h3,
.filterLight > h3 {
    margin: 20px 0 20px 0;
    color: aliceblue;
}
.categoryPageBottom {
    width: 78%;
}
.removeFiltersBtnDark,
.removeFiltersBtnLight {
    margin: 20px auto 10px;
    font-size: 20px;
    width: 92%;
    border-radius: 12px;
}
.removeFiltersBtnDark {
    color: white;
    border: 1px solid white;
}
.removeFiltersBtnDark:hover {
    color: #22313f;
    background-color: white;
    border: 1px solid #22313f;
}
.removeFiltersBtnLight {
    color: #e91e63;
    border: 1px solid #e91e63;
}
.removeFiltersBtnLight:hover {
    color: white;
    background-color: #e91e63;
    border: 1px solid white;
}
.priceInputs {
    margin: 10px;
    display: flex;
    gap: 10px;
}
/* Toogle filters */
.toogleFiltersBtnLight,
.toogleFiltersBtn {
    display: none;
    color: white;
    border: 1px solid white;
    margin: 20px auto 10px;
    width: 92%;
    border-radius: 12px;
}

.closeFilters > *:not(:first-child) {
    display: none;
}
.closeFilters > .toogleFiltersBtn {
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .categoryWrapperContent {
        flex-direction: column;
        justify-content: space-between;
    }
    .filterLight,
    .filter {
        width: auto;
    }
    .categoryPageBottom {
        width: auto;
    }
}
@media (min-width: 568px) {
    .openFilters,
    .closeFilters {
        height: 100% !important;
        overflow: auto;
    }
    .closeFilters > *:not(:first-child),
    .openFilters > *:not(:first-child) {
        animation: increaseHeight 2.5s;
        display: block;
    }
}
@media (max-width: 567px) {
    @keyframes increaseHeight {
        0% {
            height: 0;
        }
        50% {
            height: 50%;
        }
        75% {
            height: 75%;
        }
        100% {
            height: 100%;
        }
    }
    @keyframes reduceHeight {
        0% {
            height: 100%;
        }
        100% {
            height: 0;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .openFilters {
        animation: increaseHeight 2.5s ease-out;
        overflow: hidden;
    }

    .removeFiltersBtnDark,
    .removeFiltersBtnLight {
        margin: 10px auto 10px;
    }
    .toogleFiltersBtnLight,
    .toogleFiltersBtn {
        display: block;
        margin: 10px auto 10px;
        width: 92%;
        border-radius: 12px;
        font-size: 20px;
    }
    .toogleFiltersBtn {
        color: white;
        border: 1px solid white;
    }
    .toogleFiltersBtnLight {
        background-color: #e91e63;
        color: white;
        border: 1px solid #e91e63;
    }
    .closeFilters > *:not(:first-child) {
        animation: reduceHeight 2s;
    }
    .openFilters > *:not(:first-child) {
        animation: fadeIn 2s ease;
    }
    .closeFilters > .toogleFiltersBtn {
        margin-bottom: 10px;
    }

    /* .closeFiltersSub {
        animation: fadeIn 2.5s ease;
    }
    .openFiltersSub {
        animation: fadeIn 2.5s ease;
    } */
}
