.basketPageDark {
    background-color: #22313f;
    margin: 10px;
    border-radius: 14px;
    height: 100%;
    min-height: 720px;
}
.basketPageDarkTitle {
    padding-top: 20px;
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}
.basketPageDarkContent {
    display: flex;
    gap: 10px;
    margin: 10px;
}
.basketPageDarkOrderContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}

.basketPageDarkOrderList {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    .basketPageDarkOrderContent {
        width: 70%;
    }
    .basketPageDarkSubmitOrder {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .basketPageDark {
        min-height: 580px;
    }
    .basketPageDarkContent {
        flex-direction: column-reverse;
    }
    .basketPageDarkOrderContent {
        width: 100%;
    }
}
