.basket__dark {
    color: aliceblue;
}
.basket__light {
    color: #e91e63;
}
.basket__dark,
.basket__light {
    height: 22px;
    width: 22px;
    cursor: pointer;
}
@media (max-width: 567px) {
    .basket__dark,
    .basket__light {
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
}
