.searchCatalogListLigth,
.catalogList {
    margin: 10px 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.searchCatalogListLigth,
.searchCatalogList {
    border-radius: 12px;
    margin: 10px 10px 20px 10px;
    padding: 12px 0 12px 0;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.searchCatalogList {
    background-color: #22313f;
}
.searchCatalogListLigth {
    background-color: white;
}
.searchCatalogListLigth > input,
.searchCatalogList > input {
    border: 1px solid transparent;
    margin-left: 20px;
    max-width: 320px;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 8px 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: ease-in-out 0.5s;
}
.searchCatalogListLigth > input:focus,
.searchCatalogList > input:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.searchCatalogListLigth > input {
    border: 1px solid #e91e63;
}
@media (min-width: 1680px) {
    .catalogList {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1120px) {
    .catalogList {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 992px) {
    .catalogList {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 567px) {
    .catalogList {
        grid-template-columns: repeat(2, 1fr);
    }
    .searchCatalogListLigth,
    .searchCatalogList {
        display: flex;
        justify-content: center;
    }
    .searchCatalogListLigth > input,
    .searchCatalogList > input {
        width: 94%;
        max-width: 400px;
        margin-left: 0;
        font-size: 22px;
    }
}
