.photoContainer {
    overflow: hidden;
    width: 260px;
    height: 520px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 567px) {
    .photoContainer {
        width: 272px;
        height: 740px;
    }
}
