.filterPriceLight,
.filterPriceDark {
    margin: 0 auto;
    width: 94%;
}
.filterPriceLight > span,
.filterPriceDark > span {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.filterPriceLight > span {
    color: #e91e63;
}
.filterPriceDark > span {
    color: aliceblue;
}
.filterPriceDarkContent {
    margin: 0 auto;
}
.filterPriceLightInputs,
.filterPriceDarkInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.filterPriceLightInputs > input,
.filterPriceDarkInputs > input {
    width: 100%;
    border-radius: 12px;
    font-size: 20px;
    padding: 4px 12px;
    outline: none;
    transition: ease-in-out 0.75s;
}
.filterPriceDarkInputs > input {
    border: 1px solid transparent;
}
.filterPriceLightInputs > input {
    border: 1px solid #e91e63;
    color: #e91e63;
}
.filterPriceDarkInputs > input:focus {
    border: 1px solid #5dacbd;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.filterPriceLightApply,
.filterPriceDarkApply {
    background-color: white;
    width: 100%;
    border-radius: 12px;
    font-size: 20px;
}
.filterPriceLightApply {
    border: 1px solid #e91e63;
    color: #e91e63;
}
.filterPriceDarkApply:hover {
    background-color: #5dacbd;
    color: white;
}
@media (max-width: 992px) {
}
