.footerContainerLight,
.footerContainer {
    border-radius: 12px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
}

.footerContainer {
    background-color: #22313f;
}
.footerContainerLight {
    background-color: white;
}
.footerWrapper,
.footerWrapperLight {
    padding: 18px;
    display: flex;
    justify-content: space-between;
}
.footerWrapperLeft,
.footerWrapperLeftLight {
    max-width: 480px;
    width: 100%;
    display: flex;
    gap: 12px;
}

.footerWrapperRightLight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footerWrapperRight > p {
    color: aliceblue;
}
.footerWrapperRightLight > p {
    color: #e91e63;
}

.footerWrapperRight > p,
.footerWrapperRightLight > p {
    font-size: 24px;
}
.footerWrapperRight,
.footerWrapperRightLight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footerWrapperRight > ul,
.footerWrapperRightLight > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.footerWrapperRight > ul > li > a > svg,
.footerWrapperRightLight > ul > li > a > svg {
    margin: 0 auto;
}
.footerWrapperRight > ul > li > a > span {
    color: aliceblue;
}
.footerWrapperRightLight > ul > li > a > span {
    color: #e91e63;
}
.footerWrapperRight > ul > li > a > span,
.footerWrapperRightLight > ul > li > a > span {
    font-size: 18px;
}
.footerWrapperRight > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 120px;
}
.footerWrapperRightLight > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 120px;
}
.footerWrapperRight > ul > li > a > svg {
    fill: aliceblue;
}
.footerWrapperRightLight > ul > li > a > svg {
    fill: #e91e63;
}
.footerWrapperRight > ul > li > a > svg,
.footerWrapperRightLight > ul > li > a > svg {
    width: 32px;
    height: 32px;
}
.footerWrapperMid > p {
    text-align: start;
    color: aliceblue;
    font-size: 24px;
}
.footerWrapperMidLight > p {
    text-align: start;
    color: #e91e63;
    font-size: 24px;
}
.footerWrapperMid > ul,
.footerWrapperMidLight > ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.footerWrapperMid > ul > li,
.footerWrapperMidLight > ul > li {
    text-align: start;
}

.footerWrapperMid > ul > li > span,
.footerWrapperMidLight > ul > li > span {
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.footerWrapperMid > ul > li > span:hover {
    color: #5dacbd;
}
.footerWrapperMidLight > ul > li > span:hover {
    color: black;
}
.footerWrapperMid > ul > li > span {
    color: aliceblue;
}

.footerWrapperMidLight > ul > li > span {
    color: #e91e63;
}
.footerWrapperMid > ul > li > span,
.footerWrapperMidLight > ul > li > span {
    font-size: 18px;
}
.footerMidWrapper,
.footerMidWrapperLight {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
@media (max-width: 992px) {
    .footerWrapperLight,
    .footerWrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: none;
    }
    .footerWrapperLeftLight,
    .footerWrapperLeft {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .footerWrapperRightLight,
    .footerWrapperRight {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footerMidWrapperLight,
    .footerMidWrapper {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}
@media (max-width: 576px) {
    .footerContainer,
    .footerContainerLight {
        padding-bottom: 120px;
    }
    .footerMidWrapper,
    .footerMidWrapperLight {
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }
    .footerWrapperMidLight,
    .footerWrapperMid {
        width: 100%;
    }
    .footerWrapperRightLight > ul > li > a > svg,
    .footerWrapperRight > ul > li > a > svg {
        width: 40px;
        height: 40px;
    }
}
