.accordionWrapper {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.accordionWrapper:last-child {
    padding-bottom: 12px;
}
.categoryList {
    text-align: start;
}
.categoryList > li > label {
    display: flex;
    gap: 4px;
}

.nameOfTarget {
    padding-top: 8px;
    font-size: 16px;
}
.nameOfTargetLight {
    color: #e91e63;
    padding-top: 8px;
    font-size: 16px;
}
