.accordionWrapperLight,
.accordionWrapperDark {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.accordionWrapperDark:last-child,
.accordionWrapperLight:last-child {
    padding-bottom: 12px;
}
.categoryList {
    text-align: start;
}
.categoryList > li > label {
    display: flex;
    gap: 4px;
}

.nameOfTarget {
    padding-top: 4px;
    font-size: 16px;
}
.nameOfTargetLight {
    color: #e91e63;
    padding-top: 4px;
    font-size: 16px;
}
.accordionWrapperLight svg {
    color: #e91e63;
}

@media (max-width: 567px) {
    .nameOfTargetLight,
    .nameOfTarget {
        padding-top: 0;
        font-size: 18px;
    }
}
