.catalogListCategory {
    margin: 10px 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.noMatch {
    text-align: center;
}
@media (min-width: 1680px) {
    .catalogListCategory {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1120px) {
    .catalogListCategory {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 992px) {
    .catalogListCategory {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }
}
@media (max-width: 567px) {
    .catalogListCategory {
        grid-template-columns: repeat(2, 1fr);
    }
}
