/* styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    max-width: 1680px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.MuiBadge-badge {
    background-color: black !important;
}
.Toastify__toast-theme--dark,
.Toastify__toast-theme--light {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.Toastify__toast {
    border-radius: 14px !important;
}
.Toastify__close-button {
    display: none;
}
.Toastify__toast-theme--dark.Toastify__toast--default {
    /* background-color: #385170; */
    background-color: aliceblue;
    border: 1px solid black;
}
.Toastify__toast-theme--dark > .Toastify__toast-body {
    color: black;
}
.Toastify__toast-theme--light > .Toastify__toast-body {
    color: #e91e63;
}
.MuiSvgIcon-root {
    width: 24px !important;
    height: 24px !important;
}
.MuiButtonBase-root {
    padding: 4px !important;
}
.MuiAccordionSummary-content {
    margin: 4px 0 !important;
}
