@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.appLight {
    background-color: #f1f1f1;
}
.appDark {
    background-color: #385170;
}
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    max-width: 1680px;
}
a {
    text-decoration: none;
}
.MuiBadge-badge {
    background-color: black !important;
}
.Toastify__toast-theme--dark,
.Toastify__toast-theme--light {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.Toastify__toast {
    border-radius: 14px !important;
}
.Toastify__close-button {
    display: none;
}
.Toastify__toast-theme--dark.Toastify__toast--default {
    background-color: aliceblue;
    border: 1px solid black;
}
.Toastify__toast-theme--dark > .Toastify__toast-body {
    color: black;
}
.Toastify__toast-theme--light > .Toastify__toast-body {
    color: #e91e63;
}
.MuiSvgIcon-root {
    width: 24px !important;
    height: 24px !important;
}
.MuiButtonBase-root {
    padding: 4px !important;
    gap: 12px !important;
}
.MuiAccordionSummary-content {
    margin: 4px 0 !important;
}
.content-\[\'\'\] {
    width: 16px;
    height: 16px;
}

@media (max-width: 567px) {
    .Toastify__toast-body > div {
        font-size: 24px;
    }
    .MuiBox-root {
        width: 94% !important;
        top: 38% !important;
    }
    .MuiSvgIcon-root {
        width: 20px !important;
        height: 20px !important;
    }
    .content-\[\'\'\] {
        width: 20px;
        height: 20px;
    }
    .carousel-item {
        height: 460px;
    }
    .carousel-indicators {
        gap: 10px;
    }
    .carousel-indicators .active {
        background-color: black;
    }
    .carousel-indicators [data-bs-target] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #385170;
    }
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .carousel {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 12px;
    }
    .carousel-item {
        height: 420px;
    }
    .carousel-item > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        padding: 60px;
    }
}
