@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.title {
    color: aliceblue;
}
.titleLight {
    color: #e91e63;
}
.title,
.titleLight {
    font-size: 28px;
    margin-bottom: 20px;
}
.authActions > button,
.redirect {
    margin-bottom: 20px;
    max-width: 280px;
    border: 1px solid white;
    border-radius: 8px;
    transition: ease-in-out 0.5s;
}
.authActions > button:hover,
.redirect:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}
.authActionsLight > button,
.redirect {
    margin-bottom: 20px;
    max-width: 280px;
    border: 1px solid #e91e63;
    border-radius: 8px;
    transition: ease-in-out 0.5s;
}
.authActionsLight > button:hover,
.redirect:hover {
    background-color: #e91e63;
    color: white;
    transform: scale(1.05);
}
.authActionsLight,
.authActions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.authActions > h3 {
    color: white;
}

.authActions > button {
    color: white;
    width: 100%;
}
.authActionsLight > h3 {
    color: #e91e63;
}

.authActionsLight > button {
    color: #e91e63;
    width: 100%;
}
.categoriesContainer {
    padding: 0 15px;
    margin-bottom: 30px;
}
.productName,
.productNameDark {
    font-size: 24px;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-around;
}
.productName > a,
.productNameDark > a {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: ease-in-out 0.5s;
}
.productName > svg,
.productNameDark > svg {
    width: 32px;
    height: 32px;
    margin-bottom: 6px;
}
.productNameDark,
.productName {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.4s;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.productNameDark {
    background-color: #22313f;
    color: #5dacbd;
    border: 1px solid transparent;
}
.productName {
    background-color: #e91e63;
    color: white;
    border: 1px solid #e91e63;
}

.productNameDark:hover,
.productName:hover {
    background-color: black;
    transform: scale(1.025);
}

.productNameDark:hover {
    border: 1px solid transparent;
    transform: scale(1.025);
}
.productName:hover {
    border: 1px solid black;
    color: white;
}

.listCategoryLight,
.listCategory {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 992px) {
    .listCategoryLight,
    .listCategory {
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px) {
    .listCategoryLight,
    .listCategory {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 567px) {
    .listCategoryLight,
    .listCategory {
        grid-template-columns: repeat(1, 1fr);
    }
}
